h1
{
    color: royalblue;
    font-size: larger;
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
}
p{
    color: olive;
    font-size: larger;
    font-family: sans-serif;
}